body {
  position: relative;
  background: black;
  color: #80c0c0 
}

#content {
  width: 400px;
  margin-left: auto;
  margin-right: auto
}
footer {
  clear: both;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#centered {
  width: 200px;
  margin-left: auto;
  margin-right: auto
}

#email_field {
  width: 300px;
  margin-left: auto;
  margin-right: auto
}

#button {
  width: 100px;
  margin-left: auto;
  margin-right: auto
}

h1, h2, div.class5, blockquote { background: #000080 }

#tagid1 {
  padding: 20px;
  border: 20px groove #ffffff }


.label {
  padding: 20px;
  border: 20px groove #ffffff }

